In [1]:
empty_list = []
type(empty_list)

list

In [3]:
weekdays_list = ['a','b','c','d']
roles_tuple = ('aa','bb','cc','dd')
type(weekdays_list)

list

In [4]:
type(roles_tuple)

tuple

In [5]:
roles_tuple[0] = 'ff'

TypeError: 'tuple' object does not support item assignment

In [7]:
weekdays_list[0] = 'ff'
print(weekdays_list)

['ff', 'b', 'c', 'd']

In [9]:
weekdays_list = ['a','b','c','d']
weekdays_list[1]

'b'

In [10]:
a = [[[1,'jerry',2,' 吳'],'台元'],'台灣']
a

[[[1, 'jerry', 2, ' 吳'], '台元'], '台灣']

In [11]:
a[0][0][3]

' 吳'

areas = [' 大安區','士林區','中正區']
name = [1,'jerry',2,'吳老師']
areas += name
areas

In [12]:
areas = [' 大安區','士林區','中正區']
name = [1,'jerry',2,'吳老師']
areas += name
areas

[' 大安區', '士林區', '中正區', 1, 'jerry', 2, '吳老師']

In [13]:
areas = [' 大安區','士林區','中正區']
name = [1,'jerry',2,'吳老師']
areas.append(name)
areas

[' 大安區', '士林區', '中正區', [1, 'jerry', 2, '吳老師']]

In [14]:
areas = [' 大安區','士林區','中正區']
name = [1,'jerry',2,'吳老師']
areas.insert(2,'內湖區')

In [15]:
areas

[' 大安區', '士林區', '內湖區', '中正區']

In [16]:
del areas[-2]

In [17]:
areas

[' 大安區', '士林區', '中正區']

In [18]:
areas.remove('中正區')
areas

[' 大安區', '士林區']

In [19]:
areas = [' 大安區','士林區','中正區']
areas.index('士林區')

1

In [20]:
'中正區' in areas

True

In [21]:
'內湖區' in areas

False

In [22]:
areas = [' 大安區','士林區','中正區','中正區','中正區']

In [25]:
areas.count('中正區')

3

In [26]:
len(areas)

5

In [27]:
a = [4,5,6]
b = a
b

[4, 5, 6]

In [28]:
a[0]= '9999'

In [29]:
a

['9999', 5, 6]

In [30]:
b

['9999', 5, 6]

In [31]:
a = [4, 5, 6]
b = a.copy()

In [32]:
a[0] = '9999'

In [33]:
a

['9999', 5, 6]

In [34]:
b

[4, 5, 6]

In [35]:
role = ('123', '456', '789')
abc = role

In [36]:
a

['9999', 5, 6]

In [37]:
b

[4, 5, 6]

In [38]:
c

NameError: name 'c' is not defined

In [39]:
school = [("班級","甲班"),("姓名","⽢甘道夫"),("學號","110999")]
dict(school)

{'姓名': '⽢甘道夫', '學號': '110999', '班級': '甲班'}

In [40]:
class_ntust = {
        'm1':'甘道夫',
        'm2':'亞拉岡',
        'm3':'索倫',
}
class_ntust

{'m1': '甘道夫', 'm2': '亞拉岡', 'm3': '索倫'}

In [41]:
class_ntust['m1'] = '周杰倫'
class_ntust

{'m1': '周杰倫', 'm2': '亞拉岡', 'm3': '索倫'}

In [42]:
class_ntust2 = {
        'm4':'張學友',
        'm5':'劉德華',
        'm6':'劉青雲',
}

In [43]:
class_ntust.update(class_ntust2)

In [44]:
class_ntust

{'m1': '周杰倫', 'm2': '亞拉岡', 'm3': '索倫', 'm4': '張學友', 'm5': '劉德華', 'm6': '劉青雲'}

In [45]:
del class_ntust['m1']

In [46]:
class_ntust

{'m2': '亞拉岡', 'm3': '索倫', 'm4': '張學友', 'm5': '劉德華', 'm6': '劉青雲'}

In [47]:
f = {'a':1, 'b':2 }

In [48]:
f

{'a': 1, 'b': 2}

In [49]:
s = {'b':99999}

In [50]:
f.update(s)

In [51]:
f

{'a': 1, 'b': 99999}

In [52]:
f.clear()

In [53]:
f

{}

In [54]:
'm2' in class_ntust

True

In [55]:
class_ntust.get('m1','找不到資料唷')

'找不到資料唷'

In [56]:
class_ntust.get('m2','找不到資料唷')

'亞拉岡'

In [57]:
class_ntust.keys()

dict_keys(['m2', 'm3', 'm4', 'm5', 'm6'])

In [59]:
class_ntust.values()

dict_values(['亞拉岡', '索倫', '張學友', '劉德華', '劉青雲'])

In [60]:
class_ntust.items()

dict_items([('m2', '亞拉岡'), ('m3', '索倫'), ('m4', '張學友'), ('m5', '劉德華'), ('m6', '劉青雲')])

In [61]:
drinks = {
"item1" : {"珍珠奶茶茶","紅茶茶"},
"item2" : {"烏龍奶茶茶","烏龍茶茶"},
"item3" : {"蜂蜜紅茶茶","紅茶茶"},
}

In [62]:
type(drinks)

dict

In [63]:
drinks['item1']

{'珍珠奶茶茶', '紅茶茶'}

In [64]:
x=drinks['item1']
type(x)

set

In [66]:
for name, contents in drinks.items():
    if "紅茶茶" in contents:
        print(name, contents)

item1 {'珍珠奶茶茶', '紅茶茶'}
item3 {'紅茶茶', '蜂蜜紅茶茶'}

In [67]:
for name, contents in drinks.items():
    if "紅茶茶" in contents and not ('珍珠奶茶茶' in contents):
        print(name, contents)

item3 {'紅茶茶', '蜂蜜紅茶茶'}

In [68]:
m = ['G','C','H']
m.append('G')

In [69]:
m

['G', 'C', 'H', 'G']

In [70]:
m.pop()

'G'

In [ ]:
m

In [ ]:
m = ['G','C','H']
m.insert(0,'z')

In [ ]:
x = input('請輸入數字:')
len(set(x)) == len(x)

In [ ]:
x = [1,2,3,4,5,4]
len(set(x)) != len(x)

In [ ]:
legend = True
if legend:
    print('Y')
else:
    print('N')

In [ ]:
i_man = False
Tony = False
if i_man:
    if Tony:
        print('1')
    else:
        print('2')
else:
    if Tony:
        print('3')
    else:
        print('4')

In [ ]:
i_man = 'XX'
if i_man == '紅色':
    print('1')
elif i_man == '綠色':
    print('2')
else:
    print('3')